@import url(style.css);

@media screen and (min-width: 768px) {
  .projetos__item {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .sobre-mim__imagem {
    height: 250px;
    width: 250px;
  }

  .habilidades__item {
    font-size: var(--tamanho-fonte-icone-grande);
  }

  .contato__item {
    font-size: var(--tamanho-fonte-icone-grande);
  }

  .projetos__item {
    width: 30%;
  }

}