@import url(style.css);

@media screen and (min-width: 768px) {
  .projects__item {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .about-me__img {
    height: 250px;
    width: 250px;
  }

  .projects__item {
    width: 30%;
  }

  .skills__item {
    font-size: var(--siz-font-icon-large);
  }

  .contact__item {
    font-size: var(--size-font-icon-large);
  }

}