:root {
    --cor-fundo-header-footer: #202020;
    --cor-fonte-header-footer: #FEFEFE;
    --cor-fonte-header-footer-hover: #898989;

    --cor-fundo-body-primaria: #F4F4F4;
    --cor-fundo-body-secundaria: #FFFFFF;

    --cor-fonte-texto-body: #343434;

    --cor-fundo-botao: #343434;
    --cor-fonte-botao: #FEFEFE;

    --cor-fonte-icone: #343434;
    --cor-fonte-icone-hover: #898989;

    --tamanho-fonte-header: 1rem;

    --tamanho-fonte-body: 1.2rem;

    --tamanho-fonte-icone-regular: 2.5rem;
    --tamanho-fonte-icone-grande: 3.5rem;


}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
    grid-template-areas:
        "header"
        "app"
        "footer";
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-fonte-texto-body);
    font-size: var(--tamanho-fonte-body);
    transition: 1s;
}

.header {
    padding: 0 5%;
    background-color: var(--cor-fundo-header-footer);
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: var(--cor-fonte-header-footer);
    font-size: var(--tamanho-fonte-header);
}

.app {
    grid-area: app;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-fundo-header-footer);
    color: var(--cor-fonte-header-footer);
    grid-area: footer;
}

/*---------- menu-navegacao ----------*/

.menu-navegacao {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.menu-navegacao__item {
    color: var(--cor-fonte-header-footer);
    text-decoration: none;
    margin: 0 5px;
}

.menu-navegacao__item:hover {
    color: var(--cor-fonte-header-footer-hover);
}

.menu-navegacao__item:visited {
    text-decoration: none;
}

/*---------- sobre-mim ----------*/

.sobre-mim {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
    background-color: var(--cor-fundo-body-primaria);
}


.sobre-mim__titulo {
    text-align: center;
}

.sobre-mim__imagem {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.sobre-mim__descricao {
    text-align: justify;
    padding: 0 10%;
}


/*---------- projetos ----------*/

.projetos {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10% 0;
    background-color: var(--cor-fundo-body-secundaria);
}


.projetos__titulo {
    text-align: center;
}

.projetos__lista {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.projetos__item {
    width: 70%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-botao);
    color: var(--cor-fonte-botao);
}

.projetos__item:hover {
    cursor: not-allowed;
}

/*---------- habilidades ----------*/

.habilidades {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    background-color: var(--cor-fundo-body-primaria);
}

.habilidades__titulo {
    text-align: center;
}

.habilidades__lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 100%;
}

.habilidades__item {
    color: var(--cor-fonte-icone);
    font-size: var(--tamanho-fonte-icone-regular);
}

/*---------- contato ----------*/

.contato {
    height: auto;
    display: flex;
    background-color: var(--cor-fundo-body-secundaria);
    flex-direction: column;
    padding: 10% 0;
}

.contato__titulo {
    text-align: center;
}

.contato__lista {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.contato__item {
    color: var(--cor-fonte-icone);
    font-size: var(--tamanho-fonte-icone-regular);
}

.contato__item:visited {
    color: var(--cor-fonte-icone);
}

.contato__item:hover {
    color: var(--cor-fonte-icone-hover);
}

.dark-theme {

    --cor-fundo-body-primaria: #505050;
    --cor-fundo-body-secundaria: #404040;

    --cor-fonte-texto-body: #FEFEFE;

    --cor-fundo-botao: #FEFEFE;
    --cor-fonte-botao: #343434;

    --cor-fonte-icone: #FEFEFE;
}

#btnMudarTema {
    font-size: 1.4rem;
    cursor: pointer;
}

#btnMudarTema:hover {
    color: var(--cor-fonte-icone-hover);
}